body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #e6e6e6;
   }
   .navbar{
    font-size: 12pt;
    background: #212121;
    margin: 0;
    padding: 20px 30px;
   }
    
   .logoNav{
    font-size: 14pt;
    font-weight: bold;
    text-decoration: none;
    color: white;
   }
    
   .containerNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
   }
    
   .tombol{
    display: none;
    color: white;
    font-size: 14pt; 
   }
    
   .tombol:hover{
    cursor: pointer;
   }
    
    
   .menu{
    margin: 0;
    display: flex;
    list-style: none;
    padding: 0; 
   }
    
   .menu li{
    padding-left: 0;
    margin-right: 10px;
   }
    
   .menu li a{
    padding:10px;
    color: white;
    text-decoration: none;
    display: inline-block;
   }
    
    
   @media screen and (max-width: 768px) {
    .menu {
    display: none;
    }
    
    .menu.aktif{
    display:inline-block;
    position: absolute;
    top: 64px;
    background: #212121;
    padding: 10px 20px;
    right: 0;
    left: 0;
    }
    
    .menu.aktif li a{
    padding: 10px;
    display: inline-block !important;
    }
    
    .tombol {
    display: block;
    }
   }